/* ===============================================================
                        comments tamplate
================================================================== */

@font-face {
    font-family: "mw-rg" ;
    src: url(./../font/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "mw-bd" ;
    src: url(./../font/Merriweather-Bold.ttf);
}

@font-face {
    font-family: "lato-rg";
    src: url(./../font/Lato-Regular.ttf);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    --color-nav: #202020;
    --color-membership: #55ACEE1A;
    --color-description: #202020;
    --color-bg-membership: rgba(85, 172, 238, 0.10);
    scroll-behavior: smooth;
}

body
{
    color: ;
}

a
{
    text-decoration: none;
}

.wrapper_container
{
    padding-left: 5%;
    padding-right: 5%;
}

.text_concepts
{
    text-align: left;
    flex-direction: column;
    width: 40vw;
}


/* ===============================================================
                            hero section
================================================================== */

nav
{
    margin-top: 21px;
    margin-right: 14.2px;
    text-align: right;
    text-transform: uppercase;
    font-family: "lato-rg";
    font-size: 1.25rem;
    margin-bottom: 95px;
}

nav a
{
    color: var(--color-nav);
}

nav a:nth-of-type(2)
{
    margin: 0px 17px;
}

.hero_section
{
    background: url(./../gif/illustration1.gif) no-repeat;
    /* background-size: 30vw; */
    background-size: contain;
    background-position-x: right;
    min-height: 550px;
    margin-bottom: 95px;
    padding-left: 8%;
}

h1
{
    font-family: "mw-bd";
    font-size: 3rem;
    color: black;
    margin-bottom: 20px;
    
}

.text h2
{
    font-family: "mw-bd";
    font-size: 3rem;
    color: black;
    margin-bottom: 20px;
}

.text p
{
    color: var(--color-description);
    font-family: "mw-rg";
    font-size: 1.25rem;
    line-height: 200%;
    margin-bottom: 20px;
}

.hero_section div:nth-of-type(2)
{
    margin-left: auto;
}

.text_concepts
{
    width: 35vw;
}

/* .header_img
{
    width: 30vw;
} */

.button_general
{
    padding: 15px;
    font-size: 1.25rem;
    border-radius: 10px;
    line-height: 200%;
    margin-right: 10px;
}

.download
{
    color: white;
    background-color: black;
}

.subscribe
{
    color: black;
    background-color: white;
    border: 2px solid rgb(199, 199, 199);
}

/* ===============================================================
                    main section -> concepts
================================================================== */

.concepts
{
    margin-bottom: 70px;
}

.concepts:nth-of-type(1)
{
    background: url(./../img/illustration2.png) no-repeat;
    background-size: 30vw;
    background-position-x: left;
    min-height: 35vw;
}

.concepts:nth-of-type(2)
{
    background: url(./../img/illustration3.png) no-repeat;
    background-size: 30vw;
    background-position-x: right;
    min-height: 35vw;
}

.concepts:nth-of-type(1) div
{
    margin-left: auto;
}

/* ===============================================================
                    main section -> applications
================================================================== */

.applications
{
    text-align: center;
    margin-bottom: 95px;
    /* width: 60%; */
}

.applications > header
{
    width: 75%;
    margin-inline: auto;
}

.applications > div > a
{
    padding-left: 40px;
}

.applications > div > a > img
{
    width: 22vw;
}

/* ===============================================================
                    main section -> examples
================================================================== */

.example_preview
{
    margin-left: 55px;
}

.examples header
{
    text-align: center;
    width: 75%;
    margin-inline: auto;
    margin-bottom: 35px;
}

.examples_img 
{   
    display: inline-block;
    justify-content: center;
}

.examples_img a img
{
    display: inline-flex;
    width: 35vw;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-bottom: 5vw;
}

/* ===============================================================
                        main section -> shop
================================================================== */

.shop 
{
    margin-top: 70px;
    text-align: center;
}

.shop > header
{
    width: 40vw;
    margin-inline: auto;
    margin-bottom: 71px;
}

.membership
{
    background-color: var(--color-bg-membership);
    width: 360px;
    min-height: 570px;
    margin-inline: auto;
    padding: 63px 65px;
    font-family: "mw-rg";
    margin-bottom: 63px;
}

h3
{
    font-size: 1.5rem;
    margin-bottom: 44px;;
}

.membership P:nth-of-type(1)
{
    font-size: 5rem;
    margin-bottom: 44px;
}

.membership P:nth-of-type(2)
{
    font-size: 1rem;
    margin-bottom: 12px;
    color: #7E7E7E;
}

.membership ul
{
    list-style: none;
    margin-top: 15px;
}

.membership ul li
{
    font-size: 1rem;
}

.membership a
{
    display: block;
    margin-top: 15px;
}

.button_member
{
    font-size: 1rem;
    color: #FFF;
    border-radius: 10px;
    background: #55ACEE;
    padding: 16px 48px;   
}

/* ===============================================================
                            footer
================================================================== */

footer
{
    text-align: center;
}

footer > ul > li
{
    font-size: 1.1875rem;
    line-height: 200%;
    font-family: "mw-rg";
}

.contact a
{
    color: #7E7E7E;
}

.social_media img
{
    display: inline-block;
    width: 30px;
    margin: 8px;
}

/* ===============================================================
                        pseudo classes
================================================================== */

img
{
    transition: 30ms ease-out;
}


img:hover
{
    box-shadow: 0px 0px 1px 4px rgba(148, 148, 148, 0.413);
}
